@charset "utf-8";

/*
   CIS 162 HTML and CSS
   Project 1
   Author: Oswaldo Napa
   Date:   11/8/23
   
   Filename: main.css
*/


 footer {
   display: block;
   text-align: center;
   border: solid;
   border-color: black;
   background-color: plum;
   position: fixed; 
   bottom: 0;
   left: 0;
   right: 0;
   height: 50px;
 }

 header {
    display: block;
    text-align: center;
    border-style: solid;
    background-color: plum;
    border-width: 25px 25px 25px 25px;
    border-color: aqua;
    color: blue;
    font-family: Verdana, Geneva;
 }

 body {
    background-color: violet;
    background-image: url(background.jpg);
}

header > section {
    display: block;
    border-style: solid;
    background-color: black;
    text-transform: capitalize;
}

header > h1 {
   font-family: "Audiowide", sans-serif;
   color: blue;
}

header > nav > li {
    display: inline;
    float: left;
}

header > nav > li > a {
    display: block;
    padding: 8px;
    background-color: blue;
}

a:link {
   color: blue;
 }
 
 a:visited {
   color: purple;
 }
 
 a:hover {
   color: hotpink;
 }
 
section#leftColumn {
    clear: left;
    float: left;
    width: 50%;
    color: wheat;
    text-shadow: 3px 3px black;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
 }

 h1 {
   outline: 5px black;
   text-transform: uppercase;
   color: pink;
 }
 
 section#rightColumn {
    float: left;
    width: 50%;
    text-align: center;
    color: wheat;
    text-shadow: 3px 3px black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
 }

 section#rightColumn img {
    display: block;
    width: 75%;
    height: 75%;
    float: left;
    word-wrap: inherit;
    text-align: center;
 }

 ul {
    list-style-type: square;
    margin: 0;
    padding: 0;
}

body > header > section > nav.horizontalNavigation li {
    width: 33.33%;
    display: block;
    float: left;
 }
 
 /* Horizontal Navigation Styles */
 
body > header > section > nav.horizontalNavigation a {
    display: block;
    text-align: center;
 } 

 nav a {
   text-decoration: none;
   border-top: 1px solid black;
   border-right: 2px solid black;
   border-bottom: 2px solid black;
   border-left: 1px solid black;
   background-color: white;
 }

 ul > p {
   text-transform: uppercase;
 }